/* DIVS */
#container {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    float: left;
    text-align: left;
    background-color: transparent;
}
#headerdiv {
    width: 100%;
    /*min-width: 110rem;*/
    height: 2.4rem;
    margin: 0;
    padding: 0;
    float:left;
    border: 1px solid transparent;
}
#headerlogodiv {
    height: 3rem;
    margin: 0;
    margin-top: 0rem;
    padding: 0;
    float: right;
    border: 1px solid transparent;
    text-align: right;
    width: 3rem;
}
#menudiv {
    height: 3rem;
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid transparent;
    /*width: 60rem; setado em menu.js*/
}
#sessiondiv {
    height: 1.5rem;
    margin: 0;
    padding: 0px 45px 0px 0px;
    float: left;
    border: 1px solid transparent;
    text-align: right;
    /*width: 20rem; setado em layout.js*/
}
#logindiv {
    height: 3rem;
    margin: 0rem 2rem 0rem 0rem;
    padding: 0.2rem 0rem 0rem 0rem;
    float: left;
    border: 1px solid transparent;
    width: 40rem;
    float: right;
    text-align: right;
}
#strip {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
.content {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
}
#toggleddiv {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    display: none;
}
#firstdiv {
    margin: 0;
    padding: 0;
    float: left;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
    width: 25%;
    height: 20rem;
    background-color: #CCCCCC;
}
#seconddiv {
    margin: 0;
    padding: 0;
    width: 75%;
    height: 20rem;
    background-color: #CCCCCC;
    float:left;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
}
#thirddiv {
    margin: 0;
    padding: 0;
    width: 30%;
    height: 25rem;
    background-color: #CCCCCC;
    float:left;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
}
#fourthdiv {
    margin: 0;
    padding: 0;
    width: 35%;
    height: 25rem;
    background-color: #CCCCCC;
    float:left;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
}
#fifthdiv {
    margin: 0;
    padding: 2px 0px 0px 0px;
    width: 35%;
    height: 25rem;
    background-color: #CCCCCC;
    float:left;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
}
#sixthdiv {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25rem;
    background-color: #CCCCCC;
    float:left;
    border: 1px solid #a0a0a0;
    overflow: auto;
    text-align: center;
    /*display: none;*/
}
#buildquerydiv {
    border: 1px solid transparent;
    float:left;
    margin: 5rem 0rem 0rem 0rem;
    padding: 0;
    width: 100%;
    height: 25rem;
}
.navlistdiv {
    margin: 1rem 1rem 1rem 1rem;
    width: 98%;
    float: left;
    border: 1px solid transparent;
    text-align: center;
}
.navpagecontroller {
    margin: 1rem 1rem 1rem 2rem;
    text-align: center;
    border: 1px solid transparent;
}
footer {
    border: 1px solid coral;
    width: 100%;
    float: left;
    text-align: center;
}